@import "./tailwind.css";

/* スクロールバーを非表示にするスタイル */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

/* ルート要素のスクロールバーを非表示に */
:root {
  overflow: hidden;
}

body {
  overflow: hidden;
}